body{
	margin: 0 auto;
	background: url(../images/header2.jpg);
	background-repeat: repeat-y;
	background-position: top center;
	background-size: cover;
}

#log{
	display:flex;
	margin: 0 auto;
}
h1{
    margin-top: 0px;
	padding-top: 5px;
}

.top{
	display: flex;
	height: 70px;
	margin-bottom: 0px;
}

.wenzi{
	margin: 0px 0px;/*框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节*/
			width: auto;/*框框的宽度*/
			height: 50px;/*框框的长度*/
			padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
			
	
}


.top h3{
	height: 50px;
	background-color:#2f4f4f;
	margin: 17px 0px 10px 0px;/*框框整体的位置*/
	width: auto;/*框框的宽度*/
	padding: 0px;
	line-height: 45px;
	border-top-left-radius: 10px;
}

.daohang{
	display: flex;
	float:right;
	
}

.daohang ul{/*设置导航栏的框框*/
		 	margin: 0px 0px;/*框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节*/
			width: auto;/*框框的宽度*/
			height: 50px;/*框框的长度*/
			padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
			/*添加边框border:1px solid #000;*/
			
		}
.daohang li{
			list-style-type: none;/* 去掉li前的点 */
			float: right;/*将li设置成做浮动，变为联动*/
		}
.daohang li a{
			display: block;/*将a变成块状*/
			width: 100px;/*设置块的宽度*/
			height: 50px;/*设置块的长度*/
			font-family: Microsoft Yahei;
			line-height: 50px;/*设置字体在块中的高度*/
			background-color: #2f4f4f;
			margin: 0px 0px;/*块里的高宽通过margin设置*/
			color: #fff;
			text-align: center;/*字体居中*/
			text-decoration: none;/*去掉下划线*/
			font-size: 15px;
		}
	
		
		
.daohang li a:hover{
			background-color: #2f6f4f;
		}


body{                    
  display: flex;
  flex-direction: column;

}
h1,h2,h3,p{
	color: white;
}
main{
  display: flex;
  flex: auto;
  width: auto;
  background: #3f2502;
  

  background: transparent url(../images/transparent.png) repeat
  
}/*改变中间段背景*/

aside{
  flex: 1;
  height: auto;
  background-color: rgba(146, 153, 153, 0.014);
 
}

  
article{
  flex: 3;
  height: auto;

}



footer{
  height:auto;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(9,96,70,1) 100%);
}

#waline{
	margin-top: 120px;
	margin-bottom: 0px;
	border-radius: 10px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(9,96,70,1) 100%);
}

