body{                    
  display: flex;
  flex-direction: column;
}


main{
  display: flex;
  flex: auto;
  width: auto;
  background: #3f2502;
}

aside{
  flex: 1;
  height: auto;
  background-color: cornflowerblue;
}
article{
  flex: 3;
  height: auto;
  background-color:rgb(170, 185, 35)
}
